.gallery {
    padding: 1em;
}

.gallery h1 {
    text-align: center;
}

.itemList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemList div div {
    justify-content: center;
}

.itemList div div div {
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.itemList div div div:hover {
    transform: scale(1.04);
}

.itemList div div div video{
    max-width: 600px;
    max-height: 400px;
}

.itemList div div div img{
    max-width: 400px;
    max-height: 350px;
}



.itemList div{
    display: flex;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 1fr);
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.itemList div img {
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}



.itemList svg {
    display: none;
}

.item {
    width: 300px;
    height: 250px;
    padding: 1em;
    background-color: #eee;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item:hover{
    transform: scale(1.075)
}


@media only screen and (max-width: 500px) {
   .itemList div {
    align-items: center;
   }
}