.map {
    margin: 15px;
  }
  
  .map h2 {
    text-align: center;
    font-size: 2em;
  }
  
  .mapBox {
    width: 70%;
    max-height: 600px;
    min-height: 300px;
    min-width: 250px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: rgb(13, 13, 13);
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .mapBox img {
    opacity: 0.6;
  }
  
  .mapBox div {
    position: absolute;
    top: 30%;
    color: white;
  }
  
  .mapBox div h3 {
    letter-spacing: 0.1px;
    font-weight: 300;
    font-size: 3.1em;
  }
  